<h1>Calendar</h1>

<div class="toolbar">
  {{#link-to "new" class="btn"}}Create Calendar{{/link-to}}
</div>

<ul class="cal-list">
  {{#each model as |cal|}}
    <li>
      {{#link-to "calendar" cal}}
        <span class="name"> {{cal.name}}</span>
        <span class="notes"> {{cal.notes}}</span>
        <span class="streak"> X Days</span>
        <span class="streak">
          {{#link-to "edit" cal class="btn"}}Edit{{/link-to}}
        </span>
      {{/link-to}}
    </li>
  {{/each}}
</ul>